@font-face {
  font-family: "iransans";
  src: url("../font/iransans.ttf");
}

*,
html,
body,
ul,
ol,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "iransans";
  user-select: none;
}

body {
  direction: rtl;
}

.hide {
  display: none;
}

.w-100 {
  width: 100%;
}

/* Start of sms */

.full_width {
  width: -webkit-fill-available;
}

.border_info {
  border: 2px solid #85c5fe;
}

.btn_grad {
  background: rgb(1, 167, 234);
  background: -moz-linear-gradient(
    90deg,
    rgba(1, 167, 234, 1) 0%,
    rgba(20, 115, 189, 1) 50%,
    rgba(1, 167, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(1, 167, 234, 1) 0%,
    rgba(20, 115, 189, 1) 50%,
    rgba(1, 167, 234, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(1, 167, 234, 1) 0%,
    rgba(20, 115, 189, 1) 50%,
    rgba(1, 167, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01a7ea",endColorstr="#01a7ea",GradientType=1);
}

.btn_grad:hover {
  box-shadow: none;
}

.btn_shadow {
  box-shadow: 0px 3px 3px 0px #00000069;
}

button {
  cursor: pointer;
}

.rounded_7 {
  border-radius: 7px !important;
}

form#sms {
  width: fit-content;
}

form#sms > input {
  width: 15%;
  margin: 0 auto;
}

.alertBox {
  position: fixed;
  bottom: 0;
  width: 90%;
}

.alertBox {
  display: none;
}

.alert span {
  margin-right: 0.2rem;
}

#hourGlass {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  direction: ltr;
}

#hourGlass svg {
  width: fit-content;
  padding: 0;
  margin: 0;
}

#hourGlass span {
  width: fit-content;
}

/* End of sms */

/* Start of main_body */
.headers {
  height: 3rem;
  background-color: #1473bd;
  font-family: "iransans";
  color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0px 2px 3px 0px silver;
}

h1 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

.px-3 {
  padding-top: 1rem;
}

.px_05 {
  padding: 0.5rem !important;
}

.group_name {
  font-family: "iransans";
  color: #1d5da9;
  border: 1px solid #1473bd;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: right;
}

.empty {
  margin: 3rem 0.5rem 0.3rem 0.5rem;
  min-height: 1rem;
  padding: 0.5rem 0.5rem 0.1rem 0.5rem;
  color: #1d5da9;
  font-size: 0.8rem;
  border-bottom: 1px solid rgba(20, 115, 189, 0.44);
}

.box_cat_parent {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0.6rem;
}

.box_cat {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.box {
  background-color: #ebf6ff;
  border: 1px solid rgba(20, 115, 189, 0.31);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.14);
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 0.62rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.box:hover {
  background-color: #c6e4fb;
}

.box svg {
  width: 22px;
  height: 22px;
}

.box_title {
  font-size: 0.7rem;
  color: #1d5da9;
}

.cat {
  margin: 0 0.5rem 1rem 0.5rem;
}

.rapid_access {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100vw;
  right: 0;
  box-shadow: 0px -1px 3px 0px silver;
}

.rapid_access1 {
  position: fixed;
  bottom: 0;
  width: 90vw;
}

.item_ {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.3rem;
  width: 3rem;
}

.item_circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.item_icon svg {
  width: 2rem;
  height: 1.5rem;
}

.item_title {
  font-size: 0.65rem;
  color: #212529;
  display: none;
  font-weight: bold;
}

.gray_layer {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.4;
  position: fixed;
  z-index: 1;
}

.nav_drawer {
  width: 50vw;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  z-index: 2;
}

.nav_drawer,
.gray_layer {
  display: none;
}

/* End of main_body */

/* Start of myDebt and myReq*/
.my_card {
  margin: 0 auto 0.4rem auto;
  border-radius: 0.4rem;
  position: relative;
  background-color: rgba(235, 246, 255, 0.5);
  border: 1px solid rgba(20, 115, 189, 0.31);
}

.table {
  margin-bottom: 0;
}

.card table td {
  border-top: none;
  text-align: right;
  padding: 0.3rem;
  font-size: 0.75rem;
  color: #1d5da9;
}

.td_title {
  direction: ltr;
}

.td_title::after {
  content: " « ";
}

.td_title_::after {
  content: "";
}

.td_title_ {
  direction: ltr;
}

.mande {
  font-size: 0.93rem;
}

.pay_btn {
  position: absolute;
  bottom: 4.5rem;
  left: 0.5rem;
  background-color: #82cf01;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.pay_btn_icon svg {
  width: 1.3rem;
  height: 1.3rem;
}

.pay_btn {
  cursor: pointer;
  bottom: 0.5rem;
}

.pay_btn1 {
  bottom: 4.5rem !important;
}
.pay_btn2 {
  bottom: -1rem !important;
  left: 45%;
}

/* End my Debt and Req */

/* Start active course */

.proofs {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  gap: 0.1rem;
}

.transactions,
.payments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  background-color: #1473bd;
  padding: 0.4rem;
  color: #fff;
  width: 49.5%;
  cursor: pointer;
  font-size: 0.7rem;
}

.share_link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.4rem;
  padding: 0.3rem;
  font-size: 0.7rem;
  color: #fff;
}

.end_course {
  background-color: #000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.end_course .btn {
  font-size: 0.8rem;
  padding: 0.3rem;
}

.g_20 {
  gap: 20%;
  font-size: 0.85rem !important;
}

.mb_5 {
  margin-bottom: 5rem;
}

.tarikh {
  direction: ltr;
}

.pay_btn3 {
  bottom: -1rem !important;
  left: 1rem;
}

/* End of active course */

/* Start of user Debt and req */
.course_Title {
  width: 5rem;
}

.tasviye_btn {
  color: #fff !important;
  background: #7cb342;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.1rem !important;
}

.sum {
  font-size: 0.8rem !important;
}

.sum1 {
  font-size: 0.75rem !important;
}
.rounded-2 {
  border-radius: 2rem;
  height: 1.6rem;
}

/* End of user Debt and Req */

/* Start of wallet */
.wallet_charge {
  width: 10rem;
  vertical-align: middle;
}

.va_middle {
  vertical-align: middle !important;
}

.d-rtl {
  direction: rtl;
}
.d-ltr {
  direction: ltr;
}

.click {
  cursor: pointer;
}

.click1 {
  cursor: pointer;
}

.click:hover {
  background-color: #7cb342;
}

.td_title_ span {
  margin-right: 0.5rem;
}

/* End of wallet */

/* Start of contacts */
.contact_btn {
  bottom: -1.4rem;
}

.input_group_height {
  height: 1.8rem;
}

.user_info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.2rem;
  border-radius: 0.2rem;
  box-shadow: 0px 3px 6px rgb(20 115 189 / 33%);
  font-size: 0.8rem;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 0.2rem 0 0.2rem 0.4rem;
}

.pt_0-5 {
  padding-top: 0.5rem;
}

.user_info1 {
  background: #01a7ea;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.user_tel {
  border: 1px dotted silver;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 0.8rem;
}

.w-1 {
  width: 1rem;
}
.w-1-5 {
  width: 1.5rem;
}
.w-2 {
  width: 2rem;
}
.w-3 {
  width: 3rem;
}
.w-4 {
  width: 4rem;
}
.w-5 {
  width: 5rem;
}
.w-6 {
  width: 6rem;
}
.w-7 {
  width: 7rem;
}
.w-8 {
  width: 8rem;
}
.w-9 {
  width: 9rem;
}

.w-30 {
  width: 30%;
}

.mb_4 {
  margin-bottom: 4rem !important;
}

.add_user {
  bottom: -1.4rem;
  left: 5rem;
}

.record {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1473bd;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.user_img {
  padding: 0.1rem;
}

.other_btn {
  display: flex;
  gap: 1rem;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

.border_none {
  border: none;
}

.selected_user {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selected_user,
.selected_user div {
  border-radius: 1rem !important;
  font-size: 0.7rem !important;
  width: fit-content !important;
}

.selected_user div {
  background: darkcyan !important;
}

.user_name.td_title_ {
  direction: rtl;
}

.user_name svg {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
}

.star {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
}

svg.bi.bi-star-fill,
svg.bi.bi-star-half {
  color: gold;
  margin-left: 0.2rem;
}

.tools {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

/* End of new course */

/* Start of new transaction */
.form-check-label span {
  margin: 0 0.3rem;
}

.h-1-8 {
  height: 1.8rem;
}

input[radio] {
  width: 1rem;
  height: 1rem;
}
/* End of new transaction */

/* Start of active course */

.user_infos {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 0px 3px 6px rgb(20 115 189 / 33%);
  font-size: 0.9rem;
  justify-content: space-between;
  align-items: center;
}

.form-switch .form-check-label {
  padding-right: 2.5rem;
  padding-top: 0.2rem;
}

.form-switch .form-check-input {
  height: 1rem !important;
  width: 2rem !important;
}

/* End of active course */

/* Start of details of active course */
.cat1 {
  margin: 0 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
}

.bedehkar {
  background: #d81b60 !important;
  color: #fff !important;
}

.talabkar {
  background: #8bc34a !important;
  color: #fff !important;
}

.h-1 {
  height: 0.5rem;
}

/* End of details of active course */

/* Start of colors */
:root {
  --purple: #673ab7;
  --green: #82cf01;
  --green-dark: #4caf50;
  --gray: #48696e;
  --orange: #fd9900;
  --blue: #01a7ea;

  --menu-hover: #673ab71a;
}

.bg_hover {
  background-color: var(--menu-hover);
  border-bottom: 2px solid #673ab763;
  border-radius: 0;
}

.bg_purple {
  background-color: var(--purple) !important;
}

.text_purple {
  color: var(--purple) !important;
}

.bg_green {
  background-color: var(--green) !important;
}

.text_green {
  color: var(--green) !important;
}

.bg_green_dark {
  background-color: var(--green-dark) !important;
}

.text_green_dark {
  color: var(--green-dark) !important;
}

.bg_gray {
  background-color: var(--gray);
}

.text_gray {
  color: var(--gray);
}

.bg_orange {
  background-color: var(--orange);
}

.text_orange {
  color: var(--orange);
}

.bg_blue {
  background-color: var(--blue);
}

.text_blue {
  color: var(--blue);
}

.bg_blue_very_dark {
  background-color: #094661;
}

.text_blue_very_dark {
  color: #094661;
}

.bg_dark_blue {
  background-color: #1473bd;
}

.text_dark_blue {
  color: #1473bd;
}

.bg_blue_nice {
  background-color: #ebf6ff;
}

.text_blue_nice {
  color: #ebf6ff;
}

.bg_grey {
  background-color: #f1f1f1;
  color: #1d5da9;
}

.bg_talab {
  background-color: #dcedc8;
}

.bg_bedehi {
  background-color: #fce4ec;
}

.box_shadow_none {
  box-shadow: none !important;
}

/* End of colors */

/* Start of payments */
.icon svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #094661;
}

.floatingActionButton {
  position: fixed;
  bottom: 5rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
}

.add_payments td {
  padding: 0.2rem;
}

.fs-0-75 {
  font-size: 0.75rem !important;
}

.add_payments,
.add_course,
.add_fee {
  z-index: 999;
  position: absolute;
  background: #fff;
  top: 30%;
  left: 0%;
  padding: 0.4rem;
  width: 100%;
}
/* End of payments */

/* ----------------------- Media Queries ----------------------- */
@media screen and (min-width: 340px) {
  .card table td {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 320px) {
  .add_payments {
    left: 0%;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .add_payments {
    left: 6%;
  }
}

@media screen and (min-width: 426px) {
  .add_payments {
    z-index: 999;
    position: absolute;
    background: #fff;
    top: 30%;
    left: 30%;
    padding: 0.4rem;
  }
}
