@font-face {
    font-family: 'iransans';
    src: url('../fonts/IRANSansWeb\(FaNum\).ttf');
}

*,::after,::before{
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'iransans';
}

body{
    direction: rtl;   
}

.body::before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-image: url(../img/bg-img/login-background.jpg) !important;
    opacity: 0.3;
    background-position: left;
}

.btn-green{
    background-color: #01815f;
    border: 1px solid #01815f;
    color: #fff;
}

.btn-green:hover{
    color: #fff;
    box-shadow: 0 0 5px #01815f;
}

#rule{
    color: #dc3545;
}

#top_menu{
    background: #f8f9fab8;
    padding: 0.2rem;
    box-shadow: 0px 0px 5px silver;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: iransans;
}

#top_menu .col-lg-5:first-child{
    text-align: right;
    padding: 0.3rem;
    max-width: 32.6667%;
    color: #01815f;
}
#top_menu .col-lg-5:nth-child(2){
    text-align: center;
    padding: 0.3rem;
    max-width: 32.6667%;
    color: #01815f;
}
#top_menu .col-lg-5:nth-child(3){
    text-align: left;
    padding: 0.3rem;
    max-width: 32.6667%;
    color: #01815f;
}

#left_menu{
    margin-right: 0.1rem;
    border-radius: 0.4rem;
    padding: 1rem;
}

.card-header{
    padding: 0.25rem;
    background-color: rgb(1 129 95 / 1%);
}

.btn-link:active,a:active{
    text-decoration: none;
    color: #01815f;
}

.btn-link,a{
    text-decoration: none;
    color: #01815f;
    font-size: 1rem;
}

.btn-link{
    font-size: 1rem;
}

.btn-link:hover,a:hover{
    text-decoration: none;
    color: #ffc107;
}

.btn-link:link,a:link{
    text-decoration: none;
    color: #01815f;
}
.btn-link:visited,a:visi{
    text-decoration: none;
    color: #01815f;
}

#spacer{
    padding: 0.25rem;
}

#accordion{
    font-family: iransans;
    width: 100%;
}

li{
    list-style-type: none;
    margin: 0.5rem 0;
}

.card-body{
    padding: 0.5rem;
}

svg{
    height: 1.2rem;
    width: 1.2rem;
}

.form-group{
    margin-bottom: 1rem;
    margin-left: 0.3rem;
    color: #01815f;
}

.result{
    display: none;
    margin: 1rem 0;
}